body {

    background-color: #86b7fe;

}

.form-login {
    width: 75%;
    padding: 1rem;
    margin-top: 30%;
    /*background-color: #99cdd8;*/
    border-radius: 2%;


}


.box-sd {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}